.crop1_1 {
	position: absolute;
	left: 35px;
	top: -28px;
	height: 129px;
	width: 93px;
}

.crop1_2 {
	position: absolute;
	left: 29px;
	top: -48px;
	width: 95px;
	height: 135px;
}

.crop1_3 {
	position: absolute;
	left: 19px;
	top: -48px;
	height: 181px;
	width: 109px;
}

.crop1_4 {
	position: absolute;
	left: 9px;
	top: -76px;
	height: 237px;
	width: 123px;
}

.crop1_5 {
	position: absolute;
	left: 2px;
	top: -82px;
	height: 234px;
	width: 135px;
}

.crop2_1 {
	position: absolute;
    left: 39px;
    top: -53px;
    width: 71px;
    height: 130px;
}

.crop2_2 {
	position: absolute;
    left: 25px;
    top: -71px;
    height: 117px;
    width: 98px;
}

.crop2_3 {
	position: absolute;
    left: 32px;
    top: -79px;
    height: 166px;
    width: 88px;
}

.crop2_4 {
	position: absolute;
    left: 19px;
    top: -94px;
    height: 210px;
    width: 107px;
}

.crop2_5 {
	position: absolute;
    left: 27px;
    top: -95px;
    width: 96px;
    height: 210px;
}

.crop3_1 {
	position: absolute;
    left: 40px;
    top: -44px;
    width: 73px;
    height: 156px;
}

.crop3_2 {
	position: absolute;
    left: 34px;
    top: -58px;
    height: 181px;
    width: 79px;
}

.crop3_3 {
	position: absolute;
    left: 31px;
    top: -93px;
    width: 86px;
    height: 189px;
}

.crop3_4 {
	position: absolute;
    left: 34px;
    top: -74px;
    height: 180px;
    width: 77px;
}

.crop3_5 {
	position: absolute;
    left: 38px;
    top: -77px;
    width: 74px;
    height: 192px;
}

.crop4_1 {
	position: absolute;
    left: 66px;
    top: -38px;
    width: 33px;
    height: 85px;
}

.crop4_2 {
	position: absolute;
    left: 47px;
    top: -46px;
    width: 57px;
    height: 94px;
}

.crop4_3 {
	position: absolute;
    left: 41px;
    top: -69px;
    width: 63px;
    height: 142px;
}

.crop4_4 {
	position: absolute;
    left: 48px;
    top: -72px;
    width: 65px;
    height: 120px;
}

.crop4_5 {
	position: absolute;
    left: 46px;
    top: -92px;
    width: 72px;
    height: 142px;
}

.crop5_1 {
	position: absolute;
    left: 31px;
    top: -38px;
    width: 90px;
    height: 87px;
}

.crop5_2 {
	position: absolute;
    left: 33px;
    top: -65px;
    width: 86px;
    height: 199px;
}

.crop5_3 {
	position: absolute;
    left: 24px;
    top: -64px;
    height: 164px;
    width: 99px;
}

.crop5_4 {
	position: absolute;
    left: 27px;
    top: -80px;
    height: 187px;
    width: 92px;
}

.crop5_5 {
	position: absolute;
    left: 22px;
    top: -77px;
    width: 102px;
    height: 185px;
}

.crop6_1 {
	position: absolute;
    left: 18px;
    top: -24px;
    width: 108px;
    height: 347px;
}

.crop6_2 {
	position: absolute;
    left: 8px;
    top: -35px;
    width: 138px;
    height: 229px;
}

.crop6_3 {
	position: absolute;
    left: 25px;
    top: -72px;
    height: 194px;
    width: 109px;
}

.crop6_4 {
	position: absolute;
    left: 34px;
    top: -111px;
    height: 211px;
    width: 91px;
}

.crop6_5 {
	position: absolute;
    left: 34px;
    top: -127px;
    width: 93px;
    height: 177px;
}




